/* CSS declarations go here */

h1 {
	font-family: Arial;
	font-size: 48px;
	color : purple;

}


p {
	font-family: Arial;
	font-size: 18px;
	color : gray;

}

#form-area{
	position: absolute;
	padding: 50px;
	background-color: white;
}


.input-send-list {

	
	font-family: Arial;
	font-size: 18px;
	color : purple;

}

.send-list {
	
	width: 150px;
	font-family: Arial;
	font-size: 18px;
	color : purple;
	
	



}