#form-area
    h1 Hola !
    
    p  Nos encanta que quieras ser parte de nuestra red de comercios.
    p
      | Por favor dejanos tus datos y te va a llegar la lista de precios mayorista a la brevedad.
    form.send-list
      label(for='nombre')  Tu nombre : 
      input.input-send-list(type='text', name='nombre', placeholder='Nombre de la persona de contacto')
      label(for='sitio')  Web : 
      input.input-send-list(type='text', name='sitio', placeholder='Website de la tienda')
      label(for='correo')  Tu Mail : 
      input.input-send-list(type='text', name='correo', placeholder='Email de contacto')
      label(for='telefono')  Telefono : 
      input.input-send-list(type='text', name='telefono', placeholder='Telefono de contacto')
      input.input-send-list(type='checkbox', name='estaAbierta', placeholder='Mi tienda ya esta abierta')
      label(for='estaAbierta')  Estas por abrir? 
      input.input-send-list(type='submit', value='Quiero recibir la lista de precios mayorista!')

